@font-face {
    font-family: 'hobo_stdmedium';
    src: url('inc/fonts/hobo-std-font-webfont.woff2') format('woff2'),
         url('inc/fonts/hobo-std-font-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

:root {
    --primary:#25af5b;

    /* --primary:#25A18E; */
    --secondary:#164F63;


    --green1: #073B3A;
    --green2: #0B6E4F;
    --green3: #08A045;
    --green4: #6BBF59;
    --green5: #21D375; 

    --green6: #7AE582;

    --purple1: #9C89FF;
    --purple2: #7E38B7;
    --purple3: #541675;
    --purple4: #4f3147;

    --gray1: #4D4D4D;
    --gray2: #3F3F3F;
    --gray3: #343434;
    --gray4: #262626;
    --gray5: #191919;
    


    --dark: #60a1cf;
    --black: #0d1117;
    --gray: #30363d;
    --light: white;


    --globalfont: 'hobo_stdmedium';


    --blur: blur(20px);
    --shadow: 0 0 30px var(--primary);

    --radius: 1.0rem;

}

html {
    scroll-behavior: smooth;
}


* {
    margin: 0;
    padding: 0;
    
    box-sizing: border-box;
    font-family: var(--globalfont);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--black);
    color: var(--light);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

p {
  max-width: 350px;
  padding: 30px;
}



  .spacer {
    aspect-ratio: 960/250;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .layer1 {
    background-image: url('img/layer1.svg');
  }
  .layer2 {
    background-image: url('img/layer2.svg');
  }
  .layer4 {
    background-image: url('img/layer4.svg');
  }
  .layer5 {
    background-image: url('img/layer5.svg');
  }
  .layer51 {
    background-image: url('img/layer51.svg');
  }


  .flip {
    transform: rotate(180deg);
  }









/* ---- Placeholder Content ---- */


.chapter {
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 10px;
}


#section1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    scroll-margin-top: 150px;
    width: 100%;
    min-height: 600px;
    background-color: var(--gray1);
}

.logoimg {
    width: 300px;
    height: auto;

}


#section2 {
  scroll-margin-top: 80px;
  width: 100%;
  min-height: 600px;
  background-color: var(--gray5); 
}


#section3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  scroll-margin-top: 80px;
  width: 100%;
  height: auto;
  background-color: #4D4D4D; 
  
}

.gallery-content {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  width: 80%;
  padding-bottom: 30px;

}

.slika {
  width: 350px;
  height: auto;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  padding: 30px;
}


#section4 {
  scroll-margin-top: 80px;
  width: 100%;
  min-height: 600px;
  background-color: #191919;
}


.map {
  display: flex;
  justify-content: center;
    
  
  }
  
  .map iframe{
    border: none;
    border-radius: var(--radius);
    /* border-top-left-radius: 350px;
    border-bottom-right-radius: 350px; */
    display: flex; 
    justify-content: center; 
    width: 50%; 
    height: 500px;
    filter: invert(90%);
    user-select: none;
    /* box-shadow:  0 0 30px var(--primary); */

  
  }



footer {
    display: flex;
    width: 100%;

}



/* ---- Responsivenes ---- */

@media (max-width: 880px) {


  
}
  
  @media only screen and (max-width:1024px) {
    .map iframe {
        width: 100%; 
        padding-right: 0vw;
        padding-left: 0vw;
        border-radius: 15px;
  
  
  
  
  
    }
  }
  



