@font-face {
    font-family: 'hobo_stdmedium';
    src: url('inc/fonts/hobo-std-font-webfont.woff2') format('woff2'),
         url('inc/fonts/hobo-std-font-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

:root {
    --primary:#25af5b;

    /* --primary:#25A18E; */
    --secondary:#164F63;

  /* nova paleta */

  --lightgreen: #3AAFA9;
  --darkgreen: #2B7A78;



    --green1: #073B3A;
    --green2: #0B6E4F;
    --green3: #08A045;
    --green4: #6BBF59;
    --green5: #21D375; 

    --green6: #7AE582;

    --purple1: #9C89FF;
    --purple2: #7E38B7;
    --purple3: #541675;
    --purple4: #4f3147;


    --gray1: #4D4D4D;


    /* --gray1: #4D4D4D; */
    --gray2: #3F3F3F;
    --gray3: #343434;
    --gray4: #262626;
    --gray5: #191919;
    


    --dark: #60a1cf;
    --black: #0d1117;
    --gray: #30363d;
    --light: white;


    --globalfont: 'hobo_stdmedium';


    --blur: blur(20px);
    --shadow: 10px 10px 5px var(--gray5);

    /* --radius: 1.0rem; */

}

html {
    scroll-behavior: smooth;
}


* {
    margin: 0;
    padding: 0;
    
    box-sizing: border-box;
    font-family: var(--globalfont);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--black);
    color: var(--light);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}


.spacer {
  aspect-ratio: 960/250;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


.vector1 {
  background-image: url('img/vector1.svg');
}
.layer4 {
  background-image: url('img/layer4.svg');
}

.layer5 {
   background-image: url('img/layer5.svg');
 }
 


.flip {
  transform: rotate(180deg);
}









/* ---- Main Content ---- */


.chapter {
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 15px;
}


#section1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  /* scroll-margin-top: 50px; */
  width: 100%;
  min-height: 600px;
  background-color: #C2A990;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}

.column {
  display: flex;
  width: 70%;  
}


.column img {
  width: 50%;
  height: auto;
  aspect-ratio: 3/2;
  object-fit: cover;
  margin: 30px;
  box-shadow: var(--shadow);
  border-radius: var(--radius);
}

.column p {
  margin: 30px;
  background-color: #52504B;
  box-shadow: var(--shadow);
  padding: 30px;
  border-radius: var(--radius);


}

.column.two {
  display: flex;
  flex-direction: row-reverse
}


.logoimg {
   width: 300px;
   height: auto;

}


#section2 {
  /* scroll-margin-top: 80px; */
  width: 100%;
  min-height: 600px;
  background-color: var(--gray5); 
}


#section3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* scroll-margin-top: 80px; */
  width: 100%;
  height: auto;
  background-color: #c2a990	; 
  
}

.gallery-content {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  width: 80%;
  padding-bottom: 30px;

}

.slika {
  width: 350px;
  height: auto;
  aspect-ratio: 1/1;
  object-fit: cover;
  margin: 30px;
  box-shadow: var(--shadow);
  border-radius: var(--radius);


}


#section4 {
  scroll-margin-top: 80px;
  width: 100%;
  min-height: 600px;
  background-color: #191919;
}


.map {
  display: flex;
  justify-content: center;  
  
}


.map iframe{
  border: none;
  display: flex; 
  justify-content: center; 
  width: 50%; 
  height: 500px;
  filter: invert(90%);
  user-select: none;
  /* box-shadow:  10px 10px 5px #ededed;  */

}




footer {
  width: 100%;
  background-color: #363532;
  font-weight: bold;
  text-align: center;
  padding: 20px;
  user-select: none;
  font-size: 1.1rem;

}

footer .logo-bottom {
  color:  var(--light);
  cursor: pointer;
}

footer .logo-bottom span {
  color:  var(--primary);
  margin-left: 3px;
}



/* ---- Responsivenes ---- */

@media (max-width: 1024px) {

  .map iframe {
    width: 85%; 

  }

  .column {
    flex-direction: column;
    align-items: center;
    width: 85%;
  }

  .column.two {
    flex-direction: column;
    align-items: center;
    width: 85%;
  }

  .column img {
    width: 85%;
  }

  
}