@font-face {
    font-family: 'hobo_stdmedium';
    src: url('inc/fonts/hobo-std-font-webfont.woff2') format('woff2'),
         url('inc/fonts/hobo-std-font-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

:root {
  --primary:rgb(112, 165, 53);

  --lightbackground:#C2A990;

  --darkbackground: #191919;

  --black: #000000;

  --light: white;


  --globalfont: 'hobo_stdmedium';
  --paragraphfont: cursive;


  --blur: blur(20px);
  --shadow: -10px 10px 5px var(--darkbackground);
  --shadowblack: -10px 10px 5px var(--black);

}

html {
  scroll-behavior: smooth;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--globalfont);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--black);
  color: var(--light);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

a{
  text-decoration: none;
  color: var(--light);

}

ul{
  list-style: none;
}



/* --- Spacer Section --- */

.spacer {
  aspect-ratio: 900/50;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.spacer-section {
  background-image: url('img/webspacer.svg');
}
.footerspacer {
  background-image: url('img/footerspacer.svg');
}

.flip {
  transform: rotate(180deg);
}






/* ---- Main Content ---- */


#section1, #section2, #section3, #section4{
  margin-top: -3px;
}

.chapter {
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 15px;
}


#section1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  background-color: var(--lightbackground); 
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0;
}

.column {
  display: flex;
  width: 70%;    
}


.column img {
  width: 50%;
  height: auto;
  aspect-ratio: 3/2;
  object-fit: cover;
  margin: 30px;
  box-shadow: var(--shadow);
}

.column p {
  margin: 30px;
  backdrop-filter: brightness(75%);
  box-shadow: var(--shadow);
  padding: 30px;
}

.column.two {
  display: flex;
  flex-direction: row-reverse
}


.logoimg {
   width: 300px;
   height: auto;
}


#section2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  padding: 30px 0;
  background-color: var(--darkbackground); 
}

#section2 .column p {
  backdrop-filter: brightness(120%);
  box-shadow: var(--shadowblack);
}

#section2 .column img {
  box-shadow: var(--shadowblack);

}




#section3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 30px 0 50px 0;
  background-color: var(--lightbackground); 
  
}

.gallery-content {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  width: 90%;
  max-width: 1230px;
  padding-bottom: 30px;
  gap: 3rem;
  margin-top: 30px;



}

.image {
  width: 350px;
  height: auto;
  aspect-ratio: 1/1;
  object-fit: cover;
  /* margin: 30px; */
  box-shadow: var(--shadow);


}


#section4 {
  width: 100%;
  min-height: 600px;
  background-color: var(--darkbackground);
  padding: 30px 0 90px 0;
}

.contact {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  width: 100%;

}

.wrapper {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  margin: 30px 0 50px 0;


}

.map {
  aspect-ratio: 3/2;
  height: 500px;
  box-shadow: var(--shadowblack);
}


.map iframe{
  border: none;
  filter: invert(90%);
  user-select: none;
  width: 100%;
  height: 100%;
}

.contact-cards {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: var(--shadowblack);
  backdrop-filter: brightness(120%);
  color: var(--light);
  aspect-ratio: 1/1;
  height:100%;
  width: min-content;
  transition: .5s;

}

.card:hover {
  box-shadow: none;
}


footer {
  width: 100%;
  background-color: var(--black);
  font-weight: bold;
  text-align: center;
  padding: 20px;
  user-select: none;
  font-size: 1.1rem;

}

footer .logo-bottom {
  color:  var(--light);
  cursor: pointer;
}

footer .logo-bottom span {
  color:  var(--primary);
  margin-left: 3px;
}



/* ---- Responsivenes ---- */

@media (max-width: 1024px) {


  .column {
    flex-direction: column;
    align-items: center;
    width: 85%;
  }

  .column.two {
    flex-direction: column;
    align-items: center;
    width: 85%;
  }

  .column img {
    width: 85%;
  }

  .image {
    width: 85%;

  }

  .column p {
    width: 85%;

  }

  .wrapper {
    width: 85%;
    flex-direction: column;
  }
   
  .map {
    height: 350px;

  }

  .contact-cards {
    flex-direction: row;
  }

  .card {
    width: 100%;
    height: min-content;
  }
  

}