html {
    scroll-behavior: smooth;
  }

body {
    margin: 0;
}

.zvezdica {
    content: '';
    width: 1.5rem;
    height: 3rem;
    background: #1b1a16;
    clip-path: path('M11.93.684v8.039l5.633-5.633 1.216 1.23-5.66 5.66h8.04v1.737H13.2l5.701 5.701-1.23 1.23-5.742-5.742V21h-1.737v-8.094l-5.77 5.77-1.23-1.217 5.743-5.742H.842V9.98h8.162l-5.701-5.7 1.23-1.231 5.66 5.66V.684h1.737Z');
    display: block;
}


/* ---- Header Sekcija ---- */

.banner-logo {
    background-color: #1b1a16;
    display: flex;
    justify-content: center;
    cursor: pointer;
    user-select: none;
    user-drag: none;


}

.banner-logo img {
    width: 50%;
    height: auto;
}

nav  {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}

nav a {
    padding: 10px 20px 10px 20px;
}


/* ---- Sekcija Uvod ---- */

.uvod {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    height: 100%;


}

.uvod h2 {
    position: relative;
    font-size: 3.5em;
}

.uvod img {
    width: 30%;
    height: auto;
}



/* ---- O Nama Sekcija  ---- */

.o-nama-wrapper {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100%;
}


/* ---- Sekcija Kontakt ---- */

#karta {
    background-color: #1b1a16;
    display: flex; 
    justify-content: center; 
    padding: 50px;
    
}


#karta iframe{
        border: 0px;
        border-radius: 25px;
        
        width: 80%; 
        height: 500px; filter: 
        invert(90%);
      
      
}